<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <xacro:macro name="aurora_arm_ros2_control" params="name initial_positions_file">
        <xacro:property name="initial_positions" value="${load_yaml(initial_positions_file)['initial_positions']}"/>

        <ros2_control name="${name}" type="system">
            <hardware>
                <!-- By default, set up controllers for simulation. This won't work on real hardware -->
                <plugin>mock_components/GenericSystem</plugin>
            </hardware>
            <joint name="rotation1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rotation1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rotation2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rotation2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rotation3">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rotation3']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rotation4">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rotation4']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="rotation5">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['rotation5']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="slide1">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['slide1']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>
            <joint name="slide2">
                <command_interface name="position"/>
                <state_interface name="position">
                  <param name="initial_value">${initial_positions['slide2']}</param>
                </state_interface>
                <state_interface name="velocity"/>
            </joint>

        </ros2_control>
    </xacro:macro>
</robot>
